%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  %a.navbar-brand{ href: '#'} Navbar
  %button.navbar-toggler{ type: "button",  data: { toggle: "collapse", target: "#navbarsExampleDefault" }, aria: { controls: 'navbarsExampleDefault', expanded: 'false', label: 'Toggle navigation' } }
    %span.navbar-toggler-icon

  #navbarsExampleDefault.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{ href: '#'}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{ href: '#' } Link
      %li.nav-item
        %a.nav-link.disabled{ href: '#' } Disabled
      %li.nav-item.dropdown
        %a#dropdown01.nav-link.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } } Dropdown
        .dropdown-menu{ aria: { labelledby: 'dropdown01' } }
          %a.dropdown-item{ href: '#' } Action
          %a.dropdown-item{ href: '#' } Another action
          %a.dropdown-item{ href: '#' } Something else here
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{ href: '#' }
          %i.fas.fa-sign-in-alt
          Login
